
img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
span.Contact{
    font-size: 25px;
    
}
div{
    text-align: center;
}
span.link a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
}
span.link a:hover{
    color: red;
}
 div.skills{
    text-align: center;

}
.skills ul{
    list-style-position: inside;
    display: inline-block;
    text-align: left;
    font-size: 20px;
}
